<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Costura.Fody" version="2.0.0-beta0018" targetFramework="net45" developmentDependency="true" />
  <package id="Exceptionless" version="4.0.1924" targetFramework="net45" />
  <package id="Exceptionless.Windows" version="4.0.1924" targetFramework="net45" />
  <package id="Fody" version="1.30.0-beta01" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net45" />
  <package id="Ookii.Dialogs.WindowsForms" version="1.0" targetFramework="net45" />
</packages>