<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.2.1.2" targetFramework="net45" />
  <package id="LtGt" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="Sprache" version="2.2.0" targetFramework="net45" />
  <package id="YoutubeExplode" version="4.7.6" targetFramework="net45" />
</packages>